<style>
  .text-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    background-color: #FFB7B2;
    color: black;
    z-index: 10000;

    border: solid 1px;
    border-radius: 10px;
  }

  .text-container--top {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    border-bottom: solid 1px;

    padding: 0.5rem 1rem;
  }

  .text-container--bottom {
    display: grid;
    grid-template-columns: repeat(2, 10rem);

    > .text-container--selected-text {
        border-right: solid 1px;
    }

    > span {
        padding: 1rem;
    }
  }
</style>
<div class="text-container">
  <div class="text-container--top">
    <span>auto</span>
    <span>french</span>
  </div>
  <div class="text-container--bottom">
    <span class="text-container--selected-text"></span>
    <span class="text-container--translated-text"></span>
  </div>
</div>