<style>
  .text-container {
    display: flex;
    flex-direction: column;

    position: absolute;
    background-color: #FFB7B2;
    color: black;
    z-index: 10000;

    border: solid 1px;
    border-radius: 5px;
  }

  .text-container--top {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    align-items: center;
    border-bottom: solid 1px;

    padding: 0 1rem;
  }

  .text-container--top--lang-selection-wrapper {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
  }

  .text-container--top--lang--wrapper {
      position: relative;
  }

  .text-container--top--lang-list {
      position: absolute;
      background-color: white;
      max-height: 10rem;
      overflow: auto;
      margin: 0;
      padding: 0;

      > li {
          text-decoration: none;
          padding: 1rem;
      }
  }

  .text-container--bottom {
    display: grid;
    grid-template-columns: repeat(2, 10rem);
    max-height: 10rem;
    overflow: auto;

    > .text-container--selected-text {
        border-right: solid 1px;
    }

    > span {
        padding: 1rem;
    }
  }
</style>
<div class="text-container">
  <div class="text-container--top">
    <img id="img-logo" width="50" height="50" alt="logo">
    <div class="text-container--top--lang-selection-wrapper">
      <span>auto</span>
      <img id="transfer-img" width="15" height="15" alt="transfer-img">
      <div class="text-container--top--lang--wrapper">
        <span id="selected-lang">french</span>
        <ul id="lang-list" class="text-container--top--lang-list"></ul>
      </div>
    </div>
  </div>
  <div class="text-container--bottom">
    <span class="text-container--selected-text"></span>
    <span class="text-container--translated-text"></span>
  </div>
</div>